[Unit]
Description=Copy Wi-Fi config from /boot into /etc/wpa_supplicant
Requires=boot.mount
After=boot.mount local-fs.target
Before=wpa_supplicant@wlan0.service
Wants=wpa_supplicant@wlan0.service
ConditionPathExists=/boot/wpa_supplicant-wlan0.conf
ConditionPathExists=!/var/lib/wifi-config-installed

[Service]
Type=oneshot
ExecStart=/usr/local/bin/install-wifi-config.sh
ExecStartPost=/usr/bin/systemctl --no-block start wpa_supplicant@wlan0.service

[Install]
WantedBy=multi-user.target
